<!-- 
<body >
    <div class = "tca" >
        <img src = "../../assets/poster.jpeg" width="50%" alt="tca-logo">
    </div>

    <div align="center" class  = "register-button">
        <input (click)="Student()"  class = "inp" type="submit" value="Student Registration >>>" />
    </div>
    <div align="center" class  = "register-button">
        <input (click)="Professor()" class = "inp" type="submit" value="Faculty Registration >>>" />
    </div>
</body> -->
<div class = "tca" >
    <img src = "../../assets/tca_logo.png" width="20%" alt="tca-logo">
</div>
<!-- <img src = "../../assets/tca_logo.png/" height="100px"> <h1> Tamizh Fest 2022 </h1> -->

<br>
<h3 align = "center"> Kindly click on the respective links to get your Tamizh Fest 2022 Event Coupons organised by Tamil Cultural Association, IIT Bombay </h3>
<div align="center" class  = "register-button">
        <input (click)="Student()"  class = "inp" type="submit" value="Student Registration >>>" />  <input (click)="Professor()" class = "inp" type="submit" value="Faculty Registration >>>" />
    </div>

<div class = "tca" >
    <img src = "../../assets/poster.jpeg" width="70%" alt="tca-logo">
</div>
